@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    height: 1626px;
}

a {
    text-decoration: none;
}

.navbar {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.link-navbar {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    height: 27px;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    font-family: Montserrat;
    margin: 26px 50px 26px 0;
    letter-spacing: 2.7px;
}

.link-home {
    width: 68px;
    margin-right: 72px;
}

.link-photoapp {
    width: 131px;
    margin-right: 72px;
}

.link-design {
    width: 87px;
    margin-right: 50px;;
}

.link-download {
    width: 140px;
}

.image1 {
    text-align: center;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
}

.content {
    width: 1280px;
    height: 650px;
    bottom: 108px;
}

h2 {
    font-family: Montserrat;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin: 48px auto 38px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
}

.content-text {
    font-family: Montserrat;
    text-decoration: none;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin: 38px 67.5px 28px;
    font-weight: normal;
    letter-spacing: 2.4px;
}

.content-text-p2 {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin: 28px 67.5px 84px;
    font-weight: normal;
    letter-spacing: 2.4px;
}

.button {
    text-align: center;
}

.link-button {
    font-family: Montserrat;
    font-size: 12px;
    display: inline-block;
    background-color: red;
    color: white;
    padding: 18px 43.5px 17px 42.5px;
    width: auto;
    border-radius: 3px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.8px;
}

.footer {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #373737;
    text-align: right;
    margin: 82px 105px 29px;
    letter-spacing: 1.8px;
}